* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin: 0;
}

/* header and footer */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    padding: 4px;
    margin: 4px;
    font-size: 12px;
    color: #c6a530;
}

/* nav bar */
nav {
    position: fixed;
    text-align: right;
    padding-right: 10px;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 58px;
    z-index: 10; 
    padding: 0;
    background-color: rgb(0, 0, 0, .90);
}

#nav-hero {
    height: 50px;
}

#nav-hero-div {
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}
/* dropdown */
.dropbtn {
    background-color: rgb(0, 0, 0, .00);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}

.dropdown {
    /* text-align: right; */
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

.dropbtn span {
    display: block;
    width: 20px;
    height: 3px;
    margin: 4px 0;
    background: #f1f1f1;
    z-index: 99;
}

/*  .menu-btn div {
    position: absolute;
    left: 100%;
    top: 65%;
    padding-right: 8px;
    margin-top: -0.5em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 200;
    vertical-align: middle;
    z-index: 99;
}*/

/* intro */
#intro {
    background-image: url("images/backgroundImg.jpg");
    width: 100vw;
    height: 100vh;
}

.heroFull {
    display: none;
}

#hero-mobile {
    margin: 15vh auto;
}

/* hr formatting */
hr {
    width: 75%;
}

.firstHr {
    margin-top: 6%;
    margin-bottom: 0;
}

/* ABOUT ME */
#about {
    margin: 15px;
}

h4 {
    text-align: left;
    padding: 8px;
    font-size: 18px;
}

h4:nth-of-type(1) {
    margin-top: 40px;
    margin-bottom: 0;
}

h4:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 0;
}

h4:nth-of-type(3) {
    margin-top: 0;
}

/* PORTFOLIO */
#portfolio {
    background-image: url("images/backgroundImg.jpg");
    text-align: center;
    padding: 20px;
}

#quiz-app {
    width: 280px;
    outline-style: double;
}

p {
    font-style: italic;
    font-size: 16px;
}

h5 {
    margin-bottom: 0;
}

h6{
    display: inline-block;
    margin: 0 5% 5% 5%;
    font-size: 15px;
    color: black;
    border: 1px solid black;
    outline-style: double;
    padding: 3px;
}

.portfolioFooter a {
    color: black;
    text-decoration: none;
}

.hide {
    display: none;
}

/* footer */
#page-footer {
    background-color: rgb(0, 0, 0, .90);
    height: 58px;
    width: vw;
}

.foot, a {
    text-decoration: none; 
    color: #f1f1f1;
} 


/* M E D I A */

@media (min-width: 800px) {
    body {
        font-size: 140%;
    }

    #nav-bar {
        font-size: x-large;
    }

    #nav-hero {
        height: 60px;
        margin-left: 40px;
    }

    .heroMobile {
        display: none;
    }

    .heroFull {
        display: initial;
    }

    #hero-full {
        margin: 10% auto;
    }

    #about {
        margin: 0 12.5%;
    }

    #quiz-app {
        width: 40%;
        margin-top: 4%;
    }

    #portfolio {
        margin-top: 5%;
    }

    p {
        padding: 0 10%;
    }

    .hideHR {
        display: none;
    }

    #more-soon {
        margin: 55% 0;
    }

    .portfolioFooter {
        font-size: large;
    }

/* grid formatting */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 440px;
        grid-gap: 10px;
        grid-auto-rows: minmax(200px, auto);
    }

    .gridHead {
        grid-column: 1 / 4;
    }
}