* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    height: 58px;
}

/* header and footer */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    padding: 4px;
    margin: 4px;
    font-size: 12px;
    color: #c6a530;
}

/* nav bar */
nav {
    position: fixed;
    text-align: right;
    padding-right: 10px;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 58px;
    z-index: 10; 
    padding: 0;
    background-color: rgb(0, 0, 0, .90);
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-hero {
    height: 50px;
}

#nav-hero-div {
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}

/* dropdown */
.dropbtn {
    background-color: rgb(0, 0, 0, .00);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover ~ #myDropdown {
    display: block;
} 

#myDropdown:hover {
    display: block;
}

.dropdown {
    text-align: left;
    position: relative;
    display: inline-block;    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0, .93);
    min-width: 100px;
    box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.555);
    z-index: 1;
    right: 0;
}
  
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

#dropdown-list {
    display: flex;
    flex-direction: column;
}

.hover {
    background-color: white;
}

.show {
    display: block;
}

.dropbtn span {
    display: block;
    width: 20px;
    height: 3px;
    margin: 4px 0;
    background: #f1f1f1;
    z-index: 99;
}

/* auto scroll */
.scrolling-box {
    scroll-behavior: auto;
}

#none {
    height: 0;
    width: 0;
}

/* intro */
#intro {
    background-image: url("images/backgroundImg.jpg");
    width: 100vw;
    height: 100vh;
}

.heroFull {
    display: none;
}

#hero-mobile {
    margin: 15vh auto;
}

/* hr formatting */
hr {
    width: 75%;
}

.firstHr {
    margin-top: 6%;
    margin-bottom: 6%;
}

/* ABOUT ME */
#about {
    margin: 15px;
}

h4 {
    text-align: left;
    padding: 8px;
    font-size: 18px;
    line-height: 30px;
}

h4:nth-of-type(1) {
    margin-top: 40px;
    margin-bottom: 0;
}

h4:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 0;
}

h4:nth-of-type(3) {
    margin-top: 0;
}

/* PORTFOLIO */
#portfolio {
    background-image: url("images/backgroundImg.jpg");
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
}

.pic {
    width: 280px;
    outline-style: double;
}

p {
    font-style: italic;
    font-size: 16px;
    line-height: 25px;
}

h5 {
    margin-bottom: 0;
}

h6{
    display: inline-block;
    margin: 0 5% 5% 5%;
    font-size: 15px;
    color: black;
    border: 1px solid black;
    outline-style: double;
    padding: 3px;
}

.portfolioFooter a {
    color: black;
    text-decoration: none;
}

.hide {
    display: none;
}

/* footer */
#page-footer {
    background-color: rgb(0, 0, 0, .90);
    width: 100vw;
    text-align: left;
    padding: 5px 30px;
}

.foot, a {
    color: #f1f1f1;
} 

#contact {
    margin-top: 5px;
    color: white;
}

/* M E D I A */
@media (min-width: 800px) {
    .dropdown-content {
        display: block;
        background: none;
        position: static;
    }

    .dropbtn {
        display: none;
    }

    #dropdown-list {
        flex-direction: row;
        width: 250px;
    }

    .dropList {
        display: inline-block;
    }

    body {
        font-size: 140%;
    }

    #nav-bar {
        font-size: x-large;
    }

    .nav-hero {
        height: 60px;
        margin-left: 40px;
    }

    .heroMobile {
        display: none;
    }

    .heroFull {
        display: initial;
    }

    #hero-full {
        margin: 10% auto;
    }

    #about {
        margin: 0 12.5%;
    }

    #portfolio {
        margin-top: 5%;
    }

    .one {
        margin: 15px;
    }

    p {
        padding: 0 10%;
    }

    .hideHR {
        display: none;
    }

    .two {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portfolioFooter {
        font-size: 21px;
    }

    #contact, #footer {
        margin: 5px 30px;
    }

    #footer {
        display: inline;
        text-align: center;
    }

    .foot {
        display:inline-block;
        font-size: 15px;
    }

/* grid formatting */
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 720px;
        grid-gap: 10px;
        grid-auto-rows: minmax(200px, auto);
    }

    .gridHead {
        grid-column: 1 / 4;
    }
}