* {
    box-sizing: border-box;
    padding: 10px;
}
  
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

header {
    padding: 12% 0;
}

nav, footer {
    padding: 1% 0;
    background-color: lightgray;
}
  
nav {
    position: fixed;
    text-align: right;
    padding-right: 45px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
  
section {
    min-height: 200px;
    padding: 6% 0;
    background-color: rgba(128, 128, 128, 0.664);
}
  
section:nth-child(even) {
    background-color: grey;
}


/* grid formatting */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 240px 240px;
    background-color: lightgrey;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.gridHead {
    grid-column: 1 / 4;

}